.compose {
  background: white;
  border-top: 1px solid #eeeef1;
  width:100%;
  line-height: 1.3333;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  align-items: flex-end;
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}

.compose-input {
  flex: 1;
  border: none;
  font-size: 14px;
  height: 40px;
  background: none;
  margin:0 5px;
}

.compose-input::placeholder {
  opacity: 0.3;
}

.compose .toolbar-button {
  color: #bbbbbf;
  margin: 0 8px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}